@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.eot');
    src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturyGothic.woff2') format('woff2'),
        url('fonts/CenturyGothic.woff') format('woff'),
        url('fonts/CenturyGothic.ttf') format('truetype'),
        url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic-Bold.eot');
    src: url('fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('fonts/CenturyGothic-Bold.woff') format('woff'),
        url('fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:"Socialico";
    src:url("fonts/Socialico.eot?") format("eot"),
    url("fonts/Socialico.woff") format("woff"),
    url("fonts/Socialico.ttf") format("truetype"),
    url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;
}


.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: "Century Gothic"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1400px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* inline block */
.inbTop{display: inline-block; vertical-align: top}
.inbMid{display: inline-block; vertical-align: middle}
.inbBot{display: inline-block; vertical-align: bottom}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}

/*button*/
.btn {font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 17px 36px; background: #0480CA; border: 1px solid transparent; transition: all 0.5s ease;border-radius: 10px}
.btn2 {font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 17px 17px; background: #2693FF; border: 1px solid transparent; transition: all 0.5s ease;border-radius: 10px}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 48px;font-weight: 700;color:#00468C;}
h1 span{color:#444444}
h3 {font-size: 22px; font-weight: 400;color: #555555;}
/*header*/
#header {position: relative;z-index: 999}
#header nav a#pull {display: none}
#header nav ul {margin: 0;margin-right: 80px;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;padding: 43px 1.8%;}
#header nav ul li a {font-weight: bold;font-size: 15px; color: #fff;}
#header nav ul li.active-menu, #header nav ul li:hover{background: #2693FF;}
.hdTop {background: #2693FF; padding: 4.38px 0;}
.hdTop .row{max-width: 1900px; max-height: 35px}
.hdTopLeft.col-6{width: 49.5%;text-align: left;}
.hdTopLeft p{font-weight: bold;font-size: 14px; color: #fff;margin: 0;margin-left: 100px;}
.hdTopLeft p span.email{font-weight: bold;font-size: 18px; color: #fff}
.hdTopRight{text-align: right;}
.hdTopRight p{font-weight: bold;font-size: 14px; color: #fff;margin: 0;margin-right: 100px;}
.hdTopRight p span.phone{font-weight: bold;font-size: 22px; color: #fff;}
.hdBot {position: relative; z-index: 999;}
.hdBot .row{max-width: 1900px; }
.hdBotLeft.col-6{width: 49.5%;text-align: left;}
.hdBotLeft a img{margin-left: 80px;margin-top: 42px;}
.hdBotRight{text-align: right;}
/*banner*/
#banner {position: relative;}
.bnrTop{background: url(../images/common/bg1.jpg)no-repeat center top;background-size: cover; padding: 660px 0 57px;margin: -406px 0 0;text-align: left;}
.bnrTop p{font-family: "Berkshire Swash"; font-size: 76px; color: #2693FF; margin-left: -80px;text-shadow: 0 0 40px #fff; margin: 0; line-height: 80px}
.bnrTop img.img1{position: absolute;bottom: 0; right:0; z-index: 1;filter: contrast(92%);-webkit-filter: contrast(92%);max-width: 737px;width: 36%;}
.bnrTop img.img2{position: absolute;bottom: 24px; right:246px; z-index: 2; }
.bnrBot{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover;text-align: left;padding: 30px;}
.bnrBot p{max-width: 936px; font-weight: bold;font-size: 18px; color: #047FCA;margin: 0 0 0 35px;}
.bnrBot .btn{margin-left: 35px;margin-top: 15px;}
.bnrBot .btn2{margin-left: 15px;margin-top: 15px;}
/*content*/
#content {}
/* welcome-section */
#welcome-section{background: url(../images/common/bg3.jpg)no-repeat center top; background-size: cover; max-width: 1900px; margin: 0 auto;padding: 97px 0 131px;}
#welcome-section .row{max-width: 1585px}
.wlc-panel{max-width: 675px; width: 49%;text-align: left;padding: 65px 69px;background: #fff; margin-left: 50%;box-shadow: 0 0 30px -5px}
.wlc-panel p{font-size: 16px; font-weight: 400; color: #555555;line-height: 28px}
/* service-section */
#service-section{background: url(../images/common/bg4.jpg)no-repeat center top; background-size: cover;padding: 100px 0;}
#service-section h1{color: #2693FF;}
#service-section dl{width: 19.5%;}
#service-section dl dd{padding: 0;margin: 0;font-size: 22px; color: #fff;font-weight: bold;}
#service-section p.message {font-size: 26px; font-weight: 400; margin: 1em auto 0;color: #fff;}
/* appointment-section */
#appointment-section{background: url(../images/common/bg5.jpg)no-repeat center top; background-size: cover; max-width: 1900px; margin: 0 auto;padding: 127px 0 122px}
.app-panel{max-width: 883px; padding: 60px 50px 70px;text-align: left;background: #fff;box-shadow: 0 0 30px -5px}
.app-panel p{font-size: 37px; font-weight: 400;color: #444444; margin: 0 auto;line-height: 50px}
.app-panel p span{font-size: 48px; font-weight: 700; color: #047FCA;display: block;margin: 20px 0;}
/* about-gallery-section */
#about-gallery-section{background: url(../images/common/bg6.jpg)no-repeat center top; background-size: cover; max-width: 1900px; margin: 0 auto;padding: 128px 0 105px;}
.about-home{background: #fff; max-width: 412px; padding: 75px 70px;text-align: left;line-height: 28px}
.about-home h1{font-size: 38px; color: #047FCA;}
.about-home p{font-size: 16px; font-weight: 700; color: #666666;margin: 25px 0;}
.about-home .btn2{padding: 11px 30.54px;font-size: 14px; font-weight: 400}
.gallery-home{text-align: right; max-width: 1027px; width: 60%;margin-top: -56px;}
.gallery-home .imgGallery{max-width: 318px; width: 30%;height: auto;margin: 10px 0 0 10px;}
/*footer*/
#footer {background: url(../images/common/bg7.jpg)no-repeat center top; background-size: cover; max-width: 1900px; width: 100%; margin: 0 auto;padding: 35px 0 75px}
.footLeft{background: #fff; border-radius: 10px; padding: 10px 40px 45px;max-width: 397px; box-shadow: 0 0 30px -5px}
.footLeft h1{font-size: 65px; color:#047FCA;text-align: left;}
.footLeft .ctc-form input[type="text"]{width: 389px;height:52px; border: 1px solid #B7C4B8;border-radius: 0}
.footLeft .ctc-form textarea{width: 389px;height:104px; border: 1px solid #B7C4B8;border-radius: 0}
.footLeft .ctc-form p{text-align: left; margin: 0 auto;font-family: "Lato"; font-size: 13px; color: #333333;}
.footLeft .g-recaptcha{transform: scale(0.8);}
.footLeft .btn2{font-family: "Century Gothic"; font-size: 20px; padding: 16px 51px;}
.footRight {max-width: 864px; width: 50%;}
.footMid{max-width: 522px;margin: 0 auto; text-align: left;color:#fff; border-bottom: 1px solid #666666;}
.footMid p {font-size: 20px;margin: 30px 0 50px;}
.footMid p span{display: block;}
.footMid p.phone span{font-size: 30px}
.footMid p.socialMedia span{font-size: 42px}
.footMid p.cards span img{max-width: 49px; width: 100%;}
.footMid p.cards, .footMid p.socialMedia{margin-left: 47px;}
.footRight ul {margin: 50px auto 0;padding: 0;text-align: center;}
.footRight ul li {display: inline-block;vertical-align: middle;}
.footRight ul li a {font-weight: 400;font-size: 15px; color: #fff;margin: 0 15px;}
.footRight ul li.active-menu a, .footRight ul li a:hover{font-weight: bold;;}
#footer .copy, #footer .silver{font-size: 14px; color: #fff; font-family: "Century Gothic"}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content p{font-size: 20px; text-align: left;}
.inner #content h2{font-size: 30px; color: #0480CA;}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

@media only screen and (max-width: 1440px){
  .bnrTop img.img1{width: 30%;}
  .bnrTop img.img2{max-width: 206px;width: 10%;}
}
